# Template for the backend configuration file
# Rename this file to .env, move it to the root of the project and fill in the values

# The name of the volume or path to the model repository where the models are stored
repository_path="/path/to/models/or/volume/name"
# The type of storage used for the model repository (only local, Azure Blob Storage to be implemented)
storage_type="local"
# Whether the model repository is a named volume or a path
named_volumes=false

# The name of the docker image to use as the service container
service_image="nvcr.io/nvidia/tritonserver:23.07-py3"
# The command to run the service container with
service_command="tritonserver --model-repository=/models --model-control-mode=explicit"
# The network name to use for the service container: use only when running with compose
# service_network="network_name"